*{
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
main {
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 8%;
}
.homepage-section {
    padding: 4% 8% 0;
}
.section-heading {
    font-size: 28px;
    font-weight: 400;
    opacity: 0.8;
}
.product-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.product-card {
    width: 100%;
    max-width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 16px;

    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
}
.product-card > a {
    text-decoration: none;
    color: black;
}
.product-image {
    width: 100%;
}
.product-meta {
    padding: 16px;
}
.product-meta > h4 {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}
.product-meta > h5 {
    font-weight: 400;
    opacity: 0.8;
    margin-top: 12px;

}
.product-meta > p {
    
    margin-top: 12px;
    font-weight: 600;
    color: #009688;
}
.slick-slide {
    width: 100%;
    margin: 0 80px;
}

.slick-dots {
    list-style-type: none;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots button {
    display: inline-block;
    font-size: 0px;
    color: #ccc;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    margin-left: 6px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.slick-active button {
    background-color: #aaa;
}
